In [12]:
import pandas as pd

In [13]:
df = pd.read_parquet('data/processed_nhanes_data.parquet')
df

,SEQN,Weight,Body mass index,Systolic,Diastolic,Gender,Age,Diabetes,Glycohemoglobin,Cholesterol,...,Red blood cells,Hemoglobin,Red blood cell width,Platelet count,Mean volume of platelets,Coronary heart disease,Blood related diabetes,Blood related stroke,Moderate-work,Vigorous-work
0,1.0,3.0,14.90,NaN,NaN,2.0,29.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,24.90,106.0,58.0,1.0,926.0,2.0,4.7,5.56,...,4.73,14.1,13.7,214.0,7.7,2.0,2.0,2.0,NaN,3.0
2,3.0,NaN,17.63,110.0,60.0,2.0,125.0,2.0,NaN,3.34,...,4.52,13.7,11.7,270.0,8.6,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,1.0,22.0,2.0,NaN,NaN,...,4.77,9.3,15.3,471.0,7.8,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,29.10,122.0,82.0,1.0,597.0,2.0,5.5,7.21,...,5.13,14.5,13.1,209.0,10.4,2.0,2.0,2.0,17.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9966,93698.0,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,...,5.05,13.1,17.1,347.0,7.0,NaN,NaN,NaN,NaN,NaN
9967,93699.0,NaN,18.20,NaN,NaN,2.0,NaN,2.0,NaN,4.71,...,4.59,11.9,15.4,243.0,7.3,NaN,NaN,NaN,NaN,NaN
9968,93700.0,NaN,26.00,104.0,62.0,1.0,NaN,2.0,5.2,3.72,...,5.01,15.5,13.0,194.0,9.6,2.0,2.0,NaN,2.0,2.0
9969,93701.0,NaN,18.10,114.0,48.0,1.0,NaN,2.0,NaN,5.09,...,5.29,14.5,13.1,278.0,7.8,NaN,NaN,NaN,NaN,NaN
9970,93702.0,NaN,21.40,118.0,66.0,2.0,NaN,2.0,4.6,4.14,...,4.58,12.8,13.8,257.0,8.7,2.0,2.0,NaN,2.0,2.0

In [14]:
df.columns

Index(['SEQN', 'Weight', 'Body mass index', 'Systolic', 'Diastolic', 'Gender',
       'Age', 'Diabetes', 'Glycohemoglobin', 'Cholesterol',
       'High-density lipoprotein (HDL)', 'Albumin',
       'Alanine aminotransferase (ALT)', 'Aspartate aminotransferase (AST)',
       'Alkaline phosphatase (ALP)', 'Gamma-glutamyl transferase (GGT)',
       'Glucose', 'Iron', 'Lactate dehydrogenase (LDH)', 'Phosphorus',
       'Bilirubin', 'Protein', 'Triglycerides', 'Uric acid', 'Creatinine',
       'White blood cells', 'Basophils', 'Red blood cells', 'Hemoglobin',
       'Red blood cell width', 'Platelet count', 'Mean volume of platelets',
       'Coronary heart disease', 'Blood related diabetes',
       'Blood related stroke', 'Moderate-work', 'Vigorous-work'],
      dtype='object')