In [9]:
import os
import json
import pandas as pd

In [13]:
ebpage_url = 'https://wwwn.cdc.gov/nchs/nhanes/search/datapage.aspx?Component={}&CycleBeginYear={}'
data_attributes_file_path = "data_attributes.json"
file_directories_file_path = 'file_directories.json'

start_years = [1999, 2001, 2003, 2005, 2007, 2009, 2011, 2013, 2015]
output_directory = 'data_test'

attribute_name_map_file_path = 'data_attribute_names_map.json'

with open(attribute_name_map_file_path, "r") as file:
        attribute_name_map = json.load(file)

In [49]:
def process_attributes(directory, year_range):
    with open(attribute_name_map_file_path, "r") as file:
        attribute_name_map = json.load(file)

    result_df = pd.DataFrame({'SEQN': []})
    for file_name in os.listdir(directory):
        data_file_path = os.path.join(directory, file_name)
        file_df = pd.read_sas(data_file_path, format='xport')
        
        # if 'SEQN' in file_df.columns:
        #     print('SEQN FOUND')

        
        extracted_columns = file_df.columns.intersection(attribute_name_map.keys())
        extracted_columns = list(extracted_columns) + ['SEQN']
        print(f'Length of dataset extracted from {file_name}: ', len(file_df))
        df_i = file_df[extracted_columns]
        df_i = df_i.rename(columns=attribute_name_map)

        result_df = result_df.merge(df_i, how='outer', on='SEQN')

    print('Length of resulting DF:', len(result_df))
    return result_df

In [52]:
dfs = []
for start_year in start_years:
    year_range = str(start_year) + '-' + str(start_year + 1)
    print(f'~~~~EXTRACTING {year_range} DATA~~~~')

    output_file_path = f'{output_directory}/{year_range}'
    print()

    # extract all of the desired attributes into the same dataframe
    dfs.append(process_attributes(output_file_path, year_range))

    # break
    print(f'~~~~DONE.~~~~\n')

pd.concat(dfs)

~~~~EXTRACTING 1999-2000 DATA~~~~

Length of dataset extracted from BMX.xpt:  9282
Length of dataset extracted from BPX.xpt:  9282
Length of dataset extracted from DEMO.xpt:  9965
Length of dataset extracted from DIQ.xpt:  9493
Length of dataset extracted from LAB10.xpt:  6758
Length of dataset extracted from LAB13.xpt:  8344
Length of dataset extracted from LAB18.xpt:  6758
Length of dataset extracted from LAB25.xpt:  8832
Length of dataset extracted from MCQ.xpt:  9493
Length of dataset extracted from PAQ.xpt:  9188
Length of resulting DF: 9965
~~~~DONE.~~~~

~~~~EXTRACTING 2001-2002 DATA~~~~

Length of dataset extracted from BMX_B.xpt:  10477
Length of dataset extracted from BPX_B.xpt:  10477
Length of dataset extracted from DEMO_B.xpt:  11039
Length of dataset extracted from DIQ_B.xpt:  10470
Length of dataset extracted from L10_2_B.xpt:  557
Length of dataset extracted from L10_B.xpt:  7445
Length of dataset extracted from L13_B.xpt:  9262
Length of dataset extracted from L25_B.xpt:  9929
Length of dataset extracted from L40_2_B.xpt:  546
Length of dataset extracted from L40_B.xpt:  7445
Length of dataset extracted from MCQ_B.xpt:  10470
Length of dataset extracted from PAQ_B.xpt:  10094
Length of resulting DF: 11039
~~~~DONE.~~~~

~~~~EXTRACTING 2003-2004 DATA~~~~

Length of dataset extracted from BMX_C.xpt:  9643
Length of dataset extracted from BPX_C.xpt:  9643
Length of dataset extracted from DEMO_C.xpt:  10122
Length of dataset extracted from DIQ_C.xpt:  9645
Length of dataset extracted from L10_C.xpt:  6990
Length of dataset extracted from L13_C.xpt:  8556
Length of dataset extracted from L25_C.xpt:  9179
Length of dataset extracted from L40_C.xpt:  6990
Length of dataset extracted from MCQ_C.xpt:  9645
Length of dataset extracted from PAQ_C.xpt:  9278
Length of resulting DF: 10122
~~~~DONE.~~~~

~~~~EXTRACTING 2005-2006 DATA~~~~

Length of dataset extracted from BIOPRO_D.xpt:  6980
Length of dataset extracted from BMX_D.xpt:  9950
Length of dataset extracted from BPX_D.xpt:  9950
Length of dataset extracted from CBC_D.xpt:  9440
Length of dataset extracted from DEMO_D.xpt:  10348
Length of dataset extracted from DIQ_D.xpt:  9822
Length of dataset extracted from GHB_D.xpt:  6980
Length of dataset extracted from HDL_D.xpt:  8086
Length of dataset extracted from MCQ_D.xpt:  9822
Length of dataset extracted from PAQ_D.xpt:  9424
Length of dataset extracted from TCHOL_D.xpt:  8086
Length of resulting DF: 10348
~~~~DONE.~~~~

~~~~EXTRACTING 2007-2008 DATA~~~~

Length of dataset extracted from BIOPRO_E.xpt:  6917
Length of dataset extracted from BMX_E.xpt:  9762
Length of dataset extracted from BPX_E.xpt:  9762
Length of dataset extracted from CBC_E.xpt:  9307
Length of dataset extracted from DEMO_E.xpt:  10149
Length of dataset extracted from DIQ_E.xpt:  9666
Length of dataset extracted from GHB_E.xpt:  6917
Length of dataset extracted from HDL_E.xpt:  8132
Length of dataset extracted from MCQ_E.xpt:  9666
Length of dataset extracted from PAQ_E.xpt:  9359
Length of dataset extracted from TCHOL_E.xpt:  8132
Length of resulting DF: 10149
~~~~DONE.~~~~

~~~~EXTRACTING 2009-2010 DATA~~~~

Length of dataset extracted from BIOPRO_F.xpt:  7369
Length of dataset extracted from BMX_F.xpt:  10253
Length of dataset extracted from BPX_F.xpt:  10253
Length of dataset extracted from CBC_F.xpt:  9835
Length of dataset extracted from DEMO_F.xpt:  10537
Length of dataset extracted from DIQ_F.xpt:  10109
Length of dataset extracted from GHB_F.xpt:  7369
Length of dataset extracted from HDL_F.xpt:  8591
Length of dataset extracted from MCQ_F.xpt:  10109
Length of dataset extracted from PAQ_F.xpt:  9771
Length of dataset extracted from TCHOL_F.xpt:  8591
Length of resulting DF: 10537
~~~~DONE.~~~~

~~~~EXTRACTING 2011-2012 DATA~~~~

Length of dataset extracted from BIOPRO_G.xpt:  6549
Length of dataset extracted from BMX_G.xpt:  9338
Length of dataset extracted from BPX_G.xpt:  9338
Length of dataset extracted from CBC_G.xpt:  8956
Length of dataset extracted from DEMO_G.xpt:  9756
Length of dataset extracted from DIQ_G.xpt:  9364
Length of dataset extracted from GHB_G.xpt:  6549
Length of dataset extracted from HDL_G.xpt:  7821
Length of dataset extracted from MCQ_G.xpt:  9364
Length of dataset extracted from PAQ_G.xpt:  9107
Length of dataset extracted from TCHOL_G.xpt:  7821
Length of resulting DF: 9756
~~~~DONE.~~~~

~~~~EXTRACTING 2013-2014 DATA~~~~

Length of dataset extracted from BIOPRO_H.xpt:  6979
Length of dataset extracted from BMX_H.xpt:  9813
Length of dataset extracted from BPX_H.xpt:  9813
Length of dataset extracted from CBC_H.xpt:  9422
Length of dataset extracted from DEMO_H.xpt:  10175
Length of dataset extracted from DIQ_H.xpt:  9770
Length of dataset extracted from GHB_H.xpt:  6979
Length of dataset extracted from HDL_H.xpt:  8291
Length of dataset extracted from MCQ_H.xpt:  9770
Length of dataset extracted from PAQ_H.xpt:  9484
Length of dataset extracted from TCHOL_H.xpt:  8291
Length of resulting DF: 10175
~~~~DONE.~~~~

~~~~EXTRACTING 2015-2016 DATA~~~~

Length of dataset extracted from BIOPRO_I.xpt:  6744
Length of dataset extracted from BMX_I.xpt:  9544
Length of dataset extracted from BPX_I.xpt:  9544
Length of dataset extracted from CBC_I.xpt:  9165
Length of dataset extracted from DEMO_I.xpt:  9971
Length of dataset extracted from DIQ_I.xpt:  9575
Length of dataset extracted from GHB_I.xpt:  6744
Length of dataset extracted from HDL_I.xpt:  8021
Length of dataset extracted from MCQ_I.xpt:  9575
Length of dataset extracted from PAQ_I.xpt:  9255
Length of dataset extracted from TCHOL_I.xpt:  8021
Length of resulting DF: 9971
~~~~DONE.~~~~

,SEQN,Weight,Body mass index,Systolic,Diastolic,Gender,Age,Diabetes,Glycohemoglobin,Cholesterol,...,Mean volume of platelets,Coronary heart disease,Blood related diabetes,Blood related stroke,Moderate-work,Vigorous-work,Glycohemoglobin_x,Glycohemoglobin_y,Glucose_x,Glucose_y
0,1.0,3.0,14.90,NaN,NaN,2.0,29.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,24.90,106.0,58.0,1.0,926.0,2.0,4.7,5.56,...,7.7,2.0,2.0,2.0,NaN,3.0,NaN,NaN,NaN,NaN
2,3.0,NaN,17.63,110.0,60.0,2.0,125.0,2.0,NaN,3.34,...,8.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,1.0,22.0,2.0,NaN,NaN,...,7.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,29.10,122.0,82.0,1.0,597.0,2.0,5.5,7.21,...,10.4,2.0,2.0,2.0,17.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9966,93698.0,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9967,93699.0,NaN,18.20,NaN,NaN,2.0,NaN,2.0,NaN,4.71,...,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9968,93700.0,NaN,26.00,104.0,62.0,1.0,NaN,2.0,5.2,3.72,...,9.6,2.0,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN
9969,93701.0,NaN,18.10,114.0,48.0,1.0,NaN,2.0,NaN,5.09,...,7.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9970,93702.0,NaN,21.40,118.0,66.0,2.0,NaN,2.0,4.6,4.14,...,8.7,2.0,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN